body {
    background-color: rgb(173, 148, 221);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: #ccc;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.365),
                -4px -4px 15px rgba(255, 255, 255, 0.8);
    justify-content: center;
    border-radius: 20px;
}

#searchBar {
    display: none; 
    opacity: 0;
    transition: opacity 0.3s ease; 
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.243),
                -4px -4px 15px rgba(255, 255, 255, 0.8);
    width: 150px; 
}

#searchBar.show {
    display: block;
}

#searchBar.visible {
    opacity: 1;
}

#searchIcon {
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(157, 202, 241);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.243),
                -4px -4px 15px rgba(255, 255, 255, 0.8);
    user-select: none;
}

#searchIcon:hover {
    transition: all 0.2s ease-in-out;
    background-color: rgb(100, 181, 246);
    transform: scale(1.1);
}